*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #7cf49a;
    font-family: "GT Walsheim Pro Light"
}

.portfolio-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100vh;
    grid-template-areas: 
    "logo logo"
    "works works"
    "works-wrapper works-wrapper"
    "footer footer";
}


.logo {
    grid-area: logo;
    align-self: start;
    justify-self: start;
    font-size: 1.5rem;
    margin-top: 5px;
    margin-left: 5px;
}

.logo a {
    text-decoration: none;
    color: #0d0e0d;
}

.works {
    grid-area: works;
    align-self: center;
    justify-self: center;
    letter-spacing: 2px;
    color: #3c4a3e;
    font-weight: 400;
    font-size: 5vw;
    padding: 5px;
    text-align: center;
}

.works-wrapper {
    grid-area: works-wrapper;
    display: flex;
    justify-content: center;
    
}

.work1 {
    background-image: url("calculator.jpg");
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-right: 2vw;
    position: relative;
    border-radius: 50px 50px 0 0;
}


.work1 a, .work2 a {
    display: flex;
    background: rgb(132,94,194, 0.9); /* Black background with 0.5 opacity */
    position: absolute;
    bottom: 0;
    width: 200px;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    color: white;
    justify-content: center;
    font-weight: 600;
   
}

.work2 {
    background-image: url("habit.jpg");
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-left: 2vw;
    position: relative;
    border-radius: 50px 50px 0 0;
}




.footer {
    grid-area: footer;
    align-self: end;
    justify-self: center;
    margin-bottom: 10px;
    font-size: 16px;
    color: #3c4a3e;
}
