* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "GT Walsheim Pro Light";
  background: #7cf49a;
}

.home-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 3fr 0.2fr;
  grid-template-areas:
    "navbar"
    "objectives"
    "footer";
  gap: 0.2rem;
  justify-items: center;
  align-items: center;
}

.navbar {
  grid-area: navbar;
}

.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  margin: 10px 10px;
  padding: 10px;
}

.nav-links li a {
  color: #0d0e0d;
  font-size: 1.3em;
  text-decoration: none;
}

.objectives {
  grid-area: objectives;
}

.objectives p {
  font-size: 4vw;
  letter-spacing: 0.25em;
  transition: background 0.5s;
}

.objectives p:hover,
.objectives p:active {
  background-color: rgb(253, 255, 50, 0.75);
}
.nav-links li a:hover,
.nav-links li a:active {
  text-transform: uppercase;
}

footer {
  grid-area: footer;
  font-size: 1em;
}

/* Responsive*/
@media only screen and (max-width: 600px) {
  .nav-links li a {
    font-size: 5vw;
  }
  .nav-links li {
    margin: 10px 0;
    padding: 5px;
  }
  .objectives p {
    font-size: 6.5vw;
    margin: 10px 0;
  }
}
